head
  meta(charset='UTF-8')
  title= page_title
  meta(name='description', content=page_description)
  link(rel='stylesheet', href='scss/main.scss')
  link(rel='icon', type='image/gif', href='https://image-charts.com/chart?chd=t:10,40&chs=64x64&cht=bvg&chan=1000&chf=b0,lg,90,03a9f4,0,3f51b5,1&icac=fgribreau&ichm=a7ba2aafd1b176a153cf9949c71234e179f3e0d70c5abdee885cba8e30a5c677')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='og:site_name', content=process.env.npm_package_website_name)
  meta(property='og:title', content=process.env.npm_package_website_title)
  meta(property='og:description', content=process.env.npm_package_website_description)
  meta(property='og:image', content="https://image-charts.com/chart?cht=bvs&chd=s:theresadifferencebetweenknowingthepathandwalkingthepath&chs=700x200&chxt=y&chf=b0,lg,90,03a9f4,0,3f51b5,1")
  meta(property='og:url', content="https://www.image-charts.com/")
  meta(name='twitter:title', content=process.env.npm_package_website_title)
  meta(name='twitter:description', content=process.env.npm_package_website_description)
  meta(property='twitter:image', content="https://image-charts.com/chart?cht=bvs&chd=s:theresadifferencebetweenknowingthepathandwalkingthepath&chs=700x200&chxt=y&chf=b0,lg,90,03a9f4,0,3f51b5,1")
  meta(property='twitter:image:alt', content="Chart powered by image-charts")
  meta(name='twitter:card', content='summary_large_image')
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PTHBZLF');</script>
